@import "normalize.css";
/* GLOBAL */
* {
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #434455;
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --logo-span-color: #2e2f42;
  --footer-text: #f4f4fd;
  --borderbuttoncolor: #e7e9fc;
  --linkiconcolor: #8e8f99;
  --span-checked-background: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(46, 47, 66, 1);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  /* padding: 31px 0; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.logospan {
  color: var(--logo-span-color);
}

.navlink {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: #404bbf;
}
.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.adreslink {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head .adress {
  font-style: normal;
}
/* HEADER--placing */
.headercontainer {
  display: flex;
  gap: 20%;
}
.headernav {
  display: flex;
  align-items: center;
}
.headernav .list {
  display: flex;
  gap: 40px;
}
.adress .list {
  display: flex;
  gap: 40px;
}


.herosection {

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herosection.jpg);
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 600px;
}
.herosection .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.mainheader {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.herobutton {
  display: block;
  background-color: var(--logo-color);
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.herobutton:hover,
.herobutton:focus {
  background-color: #404bbf;
}

/* SECTION1 */
.featuressection {
  padding: 120px 0;
}

.featuressection .listitem {
  /* border: 1px solid red; */
  width: calc((100% - 72px) / 4);
}

.icon {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.headerthree {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-span-color);
  margin-bottom: 8px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* SECTION2 */
.skillssection {
  padding-bottom: 120px;
}

.skillssection .listitem {
  width: calc((100% - 48px) / 3);
}
.headertwo {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-span-color);
  margin-bottom: 72px;
}

/* SECTION3 */
.ourteamsection {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.teammember {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.memberdescription {
  padding: 32px 16px;
  /* width: 100%; */
}
.memberdescription .headerthree {
  text-align: center;
  margin-bottom: 8px;
}

.memberdescription .paragraph {
  text-align: center;
}

.memberdescription .socialicons {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 20px 0 0 0;
}

.socialicons .socialicon {
  width: 40px;
  height: 40px;
}

.sociallink {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallink:hover,
.sociallink:focus {
  background-color: #404bbf;
}

.svgproperties {
  fill: #f4f4fd;
}

/* SECTION 5 CUSTOMERS */
.customers {
  padding: 120px 0;
}

.customer {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customerlink {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--linkiconcolor);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customerlink:hover,
.customerlink:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customer .svgproperties {
  fill: currentColor;
}

/* FOOTER */
.footer {
  background-color: var(--logo-span-color);
  padding: 100px 0;
}

.footercontainer {
  display: flex;
  align-items: baseline;
}

.footerleft,
.footerright {
  margin-right: 120px;
}
.footer .socialicons {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 20px 0 0 0;
}

.footer .sociallink {
  display: flex;
  /* display: inline-block;
  margin-bottom: 16px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .sociallink:hover,
.footer .sociallink:focus {
  background-color: #31d0aa;
}

.footer .paragraph {
  max-width: 264px;
  color: var(--background-color);
  margin-bottom: 16px;
}

.footer .logospan {
  color: #f4f4fd;
}

/* FOOTER SUBSCRIBE SECTION */
.subscribebox {
  display: flex;
  gap: 24px;
  padding: 20px 0 0 0;
}
/* .subscribefooterlabel {
  display: flex;
  gap: 24px;
} */

.subscribefooterlabel .textbox {
  gap: 24px;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribebox .textbox::placeholder {
  color: #ffffff;
}

.subscribebox .textbox:focus {
  border: 1px solid var(--background-color);
  outline: none;
}

.subscribebox .herobutton {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
}

.subscribebox .herobutton .svgproperties {
  margin-left: 16px;
}
/* PORTFOLIO */
.portfolio {
  padding: 96px 0 120px 0;
}

.portfolio .list {
  list-style: none;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfoliolist {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolioitem {
  width: calc((100% - 48px) / 3);
}

.portfoliolist .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfoliolist .link:hover,
.portfoliolist .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfoliodescription {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfoliolist .headertwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-span-color);
  text-align: left;
  margin-bottom: 8px;
}

.btn {
  background-color: var(--footer-text);
  color: var(--logo-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--borderbuttoncolor);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  border: 1px solid transparent;
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO --- OVERLAY TEXT */
.overlaytext {
  position: relative;
  overflow: hidden;
}

.overlaytext .paragraph {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  color: var(--footer-text);
  opacity: 0.9;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioitem .link:hover .paragraph,
.portfolioitem .link:focus .paragraph {
  transform: translatey(0);
}

/* MODAL */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 584px;
  background: #fcfcfc;
  width: 408px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal .modalcontainer {
  margin-bottom: 8px;
}
.modal .paragraph {
  font-weight: 500;
  color: var(--logo-span-color);
  margin-bottom: 16px;
  text-align: center;
}
.closemodal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closemodal .svgproperties {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--logo-span-color);
}

.closemodal:hover .svgproperties,
.closemodal:focus .svgproperties {
  fill: #ffffff;
}

.closemodal:hover,
.closemodal:focus {
  background-color: #404bbf;
  border: none;
}

/* .form {
  display: flex;
  flex-direction: column;
  gap: 116px;
} */

/* .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
} */

/* INPUT TEXT BOX AND LABELS */

.textboxlabelgroup {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  gap: 4px;
  width: 360px;
  color: var(--linkiconcolor);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
  margin-bottom: 4px;
}

.textboxiconcontainer {
  /* border: 1px solid red; */
  position: relative;
}
.textbox {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputicon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textboxiconcontainer:focus-within {
  fill: #4d5ae5;
}

.textbox:focus {
  /* border: 1px solid var(--logo-color); */
  border-color: #4d5ae5;
  outline: none;
}
.textareacontainer {
  margin-bottom: 16px;
}

.textareacontainer .modalcomment {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textareacontainer .modalcomment:focus {
  border-color: #4d5ae5;
  outline: none;
}

.checkboxcontainer {
  margin-bottom: 24px;
}
.checkboxlabel {
  display: block;
  gap: 8px;
  color: var(--linkiconcolor);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkboxlabel .link {
  color: var(--logo-color);
}

.checkboxspan {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkboxinput:checked + .checkboxlabel .checkboxspan {
  background-color: var(--span-checked-background);
  border: none;
  fill: var(--footer-text);
}

.modal .herobutton {
  margin: 0 auto;
}
